<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Show Todo details</title>
</head>

<body>
    <h1>Todo Information</h1>
    <h3>Id: <%=todo.id %>
    </h3>
    <div>
        <h2>
            Todo Title:
            <%=todo.Title %>
        </h2>
    </div>
    <div>
        <h3>
            Description:
            <%=todo.Description %>
        </h3>
    </div>
    <div>
        - Completed: <b>
            <%=todo.Completed%>
        </b>
    </div>
    <div>
        - CreatedAt: <b>
            <%=todo.CreatedAT%>
        </b>
    </div>
    <a href="/Todos">Back to ALL Todos</a>
    <a href="/Todos/<%= todo.id%>/edit">Edit Todo Information</a>
    <form method="POST" action="/Todos/<%= todo.id %>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>

</html>